# Created by venv; see https://docs.python.org/3/library/venv.html

# Virtual Environment
Include/
Lib/
Scripts/
pyvenv.cfg

# Python cache
__pycache__/
*.pyc
*.pyo

# IDE
.vscode/
.idea/

# Environment variables
.env