* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

.maindiv {
  min-height: 100vh;

  background: linear-gradient(to right, #01616c, #017987, #34949f);

  padding: 40px;

  color: white;
}

.heading {
  text-align: center;

  margin-bottom: 35px;

  font-size: 70px;

  font-weight: bold;
}

.input-section {
  display: flex;

  gap: 12px;

  margin-bottom: 50px;
}

.form-control {
  height: 55px;

  font-size: 24px;

  padding-left: 15px;
}

.add-btn {
  width: 70px;

  font-size: 30px;

  font-weight: bold;

  background-color: #12c7ef;

  border: none;

  color: black;
}

.add-btn:hover {
  background-color: #0aa6c7;

  color: black;
}

.task-section,
.completed-section {
  margin-top: 40px;
}

.task-section h3,
.completed-section h3 {
  font-size: 30px;

  margin-bottom: 25px;
}

.task-list,
.completed-list {
  list-style: none;

  padding-left: 0;
}

.task-item,
.completed-item {
  background-color: rgba(255, 255, 255, 0.2);

  margin-bottom: 15px;

  padding: 20px;

  border-radius: 10px;

  font-size: 22px;
}

.task-item {
  display: flex;

  justify-content: space-between;

  align-items: center;

  flex-wrap: wrap;
}

.button-group {
  display: flex;

  gap: 10px;

  margin-top: 10px;
}

/* COMPLETE BUTTON */

.complete-btn {
  background-color: #0aa6b5;

  color: white;

  border: none;

  font-size: 18px;
}

.complete-btn:hover {
  background-color: #088896;

  color: white;
}

/* EDIT BUTTON */

.edit-btn {
  background-color: #4cb7c5;

  color: white;

  border: none;

  font-size: 18px;
}

.edit-btn:hover {
  background-color: #34949f;

  color: white;
}

/* DELETE BUTTON */

.delete-btn {
  background-color: #014e56;

  color: white;

  border: none;

  font-size: 18px;
}

.delete-btn:hover {
  background-color: #01353b;

  color: white;
}

.completed-item {
  text-decoration: line-through;

  opacity: 0.8;
}